<Project>
	<!-- To use, copy this file to DebugPlatforms.props and uncomment the 
	platform(s) you want to disable from build. -->
	<PropertyGroup>
		<!-- <Build_Android>false</Build_Android> -->
		<!-- <Build_iOS>false</Build_iOS> -->
		<!-- <Build_MacCatalyst>false</Build_MacCatalyst> -->
		<!-- <Build_Windows>false</Build_Windows> -->
		<!-- <Build_Desktop>false</Build_Desktop> -->
		<!-- <Build_Web>false</Build_Web> -->
	</PropertyGroup>
</Project>
