<Project ToolsVersion="15.0">
  <PropertyGroup>
		<!--
			The UnoTargetFrameworkOverride property is used to control the platforms compiled by Visual Studio, and
			allows for a faster build when testing for a single platform.

				Instructions:
				1) Copy this file and remove the ".sample" name
				2) Adjust the NugetOverrideVersion property below
				3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target

			Available build targets

				uap10.0.18362 (Windows)
				net5.0-windows10.0.18362 (WinAppSDK Windows)
				xamarinios10 (iOS)
				MonoAndroid12.0 (Android 12.0)
				netstandard2.0 (WebAssembly, Skia)
				net6.0-ios (.NET 6 iOS)
				net6.0-android (.NET 6 Android)
				net6.0-maccatalyst (.NET 6 macOS Catalyst)
				net6.0-macos (.NET 6 macOS AppKit)
				xamarinmac20 (macOS)

			Include netstandard2.0 to make sure all projects build

      The UnoTargetFrameworkMobileOverride property is use only in Mobile (i.e. the single-project used by net6-ios/android/mac/catalyst)
		-->
    <UnoTargetFrameworkMobileOverride>net6.0-ios</UnoTargetFrameworkMobileOverride>
    <UnoTargetFrameworkOverride>$(UnoTargetFrameworkMobileOverride);netstandard2.0</UnoTargetFrameworkOverride>
  </PropertyGroup>
</Project>
