<Project ToolsVersion="15.0">
  <PropertyGroup>
		<!--
			The UnoTargetFrameworkOverride property is used to control the platforms compiled by Visual Studio, and
			allows for a faster build when testing for a single platform.

				Instructions:
				1) Copy this file and remove the ".sample" name
				2) Adjust the NugetOverrideVersion property below
				3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target

			Available build targets

				uap10.0.19041 (Windows)
				net5.0-windows10.0.19041 (WinAppSDK Windows)
				net8.0 (WebAssembly, Skia)
				net8.0-ios (.NET iOS)
				net8.0-android (.NET Android)
				net8.0-maccatalyst (.NET macOS Catalyst)
				net8.0-macos (.NET macOS AppKit)

			Include net8.0 to make sure all projects build

      The UnoTargetFrameworkMobileOverride property is use only in Mobile (i.e. the single-project used by net6-ios/android/mac/catalyst)
		-->
   <!-- <UnoTargetFrameworkMobileOverride>net8.0-ios</UnoTargetFrameworkMobileOverride>-->
    <!-- <UnoTargetFrameworkOverride>$(UnoTargetFrameworkMobileOverride);net8.0</UnoTargetFrameworkOverride>-->

	<!--

			### NugetOverrideVersion ###

				Allows the override of the nuget local cache.
				Set it to the version you want to override, used in another app.
				You will see the override path in the build output.
				The packages are located under this directory: "%USERPROFILE%\.nuget\packages". -->

	<!-- <NugetOverrideVersion>2.3.0</NugetOverrideVersion> -->
  </PropertyGroup>
</Project>
